<%- include('../includes/head.ejs') %>
<head>
  <link rel="stylesheet" href="/css/forms.css" />
  <link rel="stylesheet" href="/css/product.css" />
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <!-- enctype="multipart/form-data"를 추가함으로써 form에서 파일/텍스트 모두 분석이 가능해짐 -->
    <form
      class="product-form"
      action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>?_csrf=<%= csrfToken %>"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="form-control">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          value="<% if (editing || hasError) { %><%= product.title %><% } %>"
          class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
        />
      </div>
      <div class="form-control">
        <label for="image">Image</label>
        <input type="file" name="image" id="image" />
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input
          type="number"
          name="price"
          id="price"
          step="0.01"
          value="<% if (editing || hasError) { %><%= product.price %><% } %>"
          class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
        />
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          rows="5"
          class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
        >
<% if (editing || hasError) { %><%= product.description %><% } %></textarea
        >
      </div>
      <% if (editing) { %>
      <input type="hidden" value="<%= product._id %>" name="productId" />
      <% } %>

      <button class="btn" type="submit">
        <% if (editing || hasError) { %>Update Product<% } else { %>Add Product<% } %>
      </button>
      <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
    </form>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
